apiVersion: v1
kind: ConfigMap
metadata:
  name: syslog-ng-config
data:
  syslog-ng.conf: |
    @version: 4.7
    @include "scl.conf"

    source s_network {
        # Принимаем логи по UDP и TCP на порту 514
        network(port(514) transport("udp"));
        network(port(514) transport("tcp"));
    };

    destination d_stdout {
        # Отправляем всё в консоль контейнера
        file("/dev/stdout" template("${ISODATE} ${HOST} ${MSGHDR}${MSG}\n"));
    };

    log {
        source(s_network);
        destination(d_stdout);
    };
